<html>
    <head>
        <title>Plupload.Net - MVC3 example</title>
        <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/plupload.net.examples.css")" />
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/plupload.examples.script.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/MicrosoftAjax.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")"></script>
    </head>
    <body>
        <div class="navigation">
            @Html.ActionLink("very simple", "Index", "Home")
            @Html.ActionLink("instance configuration", "CustomConfig", "Home")
            @Html.ActionLink("loading per ajax", "AjaxLoading", "Home")
        </div>
        <div class="content">
            @RenderBody()        
        </div>
    </body>
</html>